</div>
				<!--主体内容结束-->	
				
			</div>
		</div>

		<!--container结束-->
		<!--footer开始-->
		<div class="footer">
			<div class="wrap">
				<!--友情链接开始-->
				<div class="friends_link">
					<h6 class="title">友情链接</h6>
					<div class="slide_info">
						<div class="inlist">
							<ul class="clearfix list1">
							<li><img src="common/images/frends.png" alt="" /></li>
							<li><img src="common/images/frends.png" alt="" /></li>
							<li><img src="common/images/frends.png" alt="" /></li>
							<li><img src="common/images/frends.png" alt="" /></li>
							<li><img src="common/images/frends.png" alt="" /></li>
							<li><img src="common/images/frends.png" alt="" /></li>
							<li><img src="common/images/frends.png" alt="" /></li>
							<li><img src="common/images/frends.png" alt="" /></li>
							<li><img src="common/images/frends.png" alt="" /></li>
							<li><img src="common/images/frends.png" alt="" /></li>
							<li><img src="common/images/frends.png" alt="" /></li>
							<li><img src="common/images/frends.png" alt="" /></li>
							<li><img src="common/images/frends.png" alt="" /></li>
							<li><img src="common/images/frends.png" alt="" /></li>
							<li><img src="common/images/frends.png" alt="" /></li>
							
						</ul>
						<ul class="list2 clearfix"></ul>
						<span class="arrow" id="arr_l">&lt;</span>
						<span class="arrow" id="arr_r">&gt;</span>
						</div>
					</div>
				</div>
				<!--友情链接结束-->
				<!--footer的导航开始-->
				<ul class="foot_nav clearfix">
					<li><a href="#">关于我们</a>|</li>
					<li><a href="#">加入我们</a>|</li>
					<li><a href="#">商务合作</a>|</li>
					<li><a href="#">新手指南</a>|</li>
					<li><a href="#">开始学习</a>|</li>
					<li><a href="#">企业管理</a>|</li>
					<li><a href="#">企业购买</a>|</li>
					<li><a href="#">联系我们</a></li>
				</ul>
				<!--footer的导航结束-->
			</div>
		</div>
		<!--footer结束-->

	</body>
	<script src='common/js/jquery-1.7.2.min.js'></script>
	<script src='common/js/public.js'></script>
</html>