<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>测试页面</title>
		<link rel="stylesheet" href="../common/css/reset.css" />
		<link rel="stylesheet" href="../common/css/head.css" />
	</head>

	<body>
		<!--页面头部导航开始-->
		<div class="head">
			<div class="wrap clearfix">
				<ul class="head_nav">
					<li><a href="#">首页</a></li>
					<li><a href="#">在线课堂</a></li>
					<li><a href="#">公开课</a></li>
					<li><a href="#">微课堂</a></li>
					<li><a href="#">问答专区</a></li>
					<li><a href="#">地产文库</a></li>
					<li><a href="#">办理年卡</a></li>
				</ul>
				<ul class="head_info">
					<li><a href="#"><img src="../common/images/info_03.png" alt="" /></a></li>
					<li><a href="#"><img src="../common/images/info_05.png" alt="" /></a></li>
					<li><a href="#"><img src="../common/images/info_07.png" alt="" /></a></li>
					<li class="msg"><a href="#">
						消息
						<span>6</span>
					</a></li>
					<li>
						4008 031 051
					</li>
				</ul>
			</div>
		</div>
		<!--页面头部导航结束-->
		<!--页面顶部开始-->
		<div class="top">
			<div class="wrap clearfix">
				<div class="logo">
					<a href="#">
						<img src="../common/images/info_13.png" alt="logo" />
					</a>
				</div>
				<div class="search">
					<input type="text" />
					<a href="#" class="search_btn">搜索</a>
					<ul class="keywords">
						<li>微课堂</li>
						<li>项目总经理培训</li>
						<li>精装修</li>
						<li>成本管理</li>
						<li>人力资源</li>
					</ul>
				</div>
				<div class="cart">
					<a href="#" class="car">
						我的购物车
						<span>0</span>
					</a>
				</div>
			</div>
		</div>
		<!--页面顶部结束-->
		<!--banner开始-->
		<div class="banner">
			<div class="wrap clearfix">
				<img src="../common/images/info_21.png" alt="" class="avator"/>
				<ul class="login_info">
					<li>
						上午好,
						<a href="#">123456</a>
						<span class="edit">编辑</span>
					</li>
					<li>
						学分
						<b>2866</b>
						积分
						<b>207</b>
					</li>
					<li>账户名：15852407110</li>
					<li>上次登录时间：2015.12.01 10:53:25</li>
				</ul>
				<a href="javascript:;" class="sign_in">签到</a>
			</div>
		</div>
		
		<!--banner结束-->
		<!--container开始-->
		<div class="container">
			<div class="wrap clearfix">
				<!--左侧菜单开始-->
				
				<ul class="sidebar">
					<li><a href="javascript:;" class="s_title">个人资料</a></li>
					<li><a href="index">个人信息</a></li>
					<li><a href="uploadPic">上传头像</a></li>
					<li><a href="edu">教育信息</a></li>
					<li><a href="job">职业经历</a></li>
					<li><a href="feat">个人专长</a></li>	
					<li class="line"></li>
					<li><a href="javascript:;" class="s_title">账号安全</a></li>
					<li><a href="pwd">修改密码</a></li>
					<li><a href="phone">绑定手机</a></li>
					<li><a href="email">绑定邮箱</a></li>
			
					
				</ul>
				<!--左侧菜单结束-->
				<!--主体内容开始-->
				<div class="con">
					
				