<link rel="stylesheet" href="../common/css/info_index.css" />
<div class="base">
	<!--小标题开始-->
	<p class="subtitle">完善个人资料是让别人认识你的第一步</p>
	<!--小标题结束-->
	<!--表单内容开始-->
	<div class="form">
		<ul>
			<li class="clearfix">
				<span>登录账号：</span>
				<div class="f_right">
					admin
				</div>
			</li>
			<li class="clearfix">
				<span>昵称：</span>
				<div class="f_right">
					<input type="text" name='alias'/><i></i>
				</div>
			</li>
			<li class="clearfix">
				<span>所在地：</span>
				<div class="f_right">
					
					<!--模拟  下拉框 开始-->
					<div class="select">
						<!--提示信息 开始-->
						<div class="tip clearfix">
							<u>-省-</u>
							<div>
								<i class="up"></i>
								<i class="down"></i>
							</div>
						</div>
						<!--提示信息 结束-->
						<!--下拉列表 开始-->
						<ul>
							<li>选项1</li>
							<li>选项2</li>
							<li>选项3</li>
							<li>选项4</li>
							<li>选项5</li>
							<li>选项6</li>
						</ul>
						<!--下拉列表 结束-->
						
					</div>
					<!--下拉框 结束-->
					<!--下拉框 开始-->
					<div class="select">
						<!--提示信息 开始-->
						<div class="tip clearfix">
							<u>-市-</u>
							<div>
								<i class="up"></i>
								<i class="down"></i>
							</div>
						</div>
						<!--提示信息 结束-->
						<!--下拉列表 开始-->
						<ul>
							<li>选项1</li>
							<li>选项2</li>
							<li>选项3</li>
							<li>选项4</li>
							<li>选项5</li>
							<li>选项6</li>
						</ul>
						<!--下拉列表 结束-->
						
					</div>
					<!--模拟   下拉框 结束-->
					
				</div>
			</li>
			<li class="clearfix"> 
				<span>性别：</span>
				<div class="f_right">
					
					<!-- 模拟  单选框 开始 -->
					<div class="radio cleardix">
						<p>男</p>
						<p class="checked">女</p>
					</div>	
					
					<!--模拟  单选框 结束-->
				
				</div>
			</li>
			<li class="clearfix">
				<span>真实姓名：</span>
				<div class="f_right">
					<input type="text" name='real_name'/>
					<i>填写后不能修改</i>
				</div>
			</li>
			<li class="clearfix">
				<span>生日：</span>
				<div class="f_right">
					<!--下拉框 开始-->
					<div class="select year">
						<!--提示信息 开始-->
						<div class="tip clearfix">
							<u>-请选择-</u>
							<div>
								<i class="up"></i>
								<i class="down"></i>
							</div>
						</div>
						<!--提示信息 结束-->
						<!--下拉列表 开始-->
						<ul>
							<li>选项1</li>
							<li>选项2</li>
							<li>选项3</li>
							<li>选项4</li>
							<li>选项5</li>
							<li>选项6</li>
						</ul>
						<!--下拉列表 结束-->
						
					</div>
					<!--下拉框 结束-->
					<!--下拉框 开始-->
					<div class="select month">
						<!--提示信息 开始-->
						<div class="tip clearfix">
							<u>-请选择-</u>
							<div>
								<i class="up"></i>
								<i class="down"></i>
							</div>
						</div>
						<!--提示信息 结束-->
						<!--下拉列表 开始-->
						<ul>
							<li>选项1</li>
							<li>选项2</li>
							<li>选项3</li>
							<li>选项4</li>
							<li>选项5</li>
							<li>选项6</li>
						</ul>
						<!--下拉列表 结束-->
						
					</div>
					<!--下拉框 结束-->
					
					<!--下拉框 开始-->
					<div class="select day">
						<!--提示信息 开始-->
						<div class="tip clearfix">
							<u>-请选择-</u>
							<div>
								<i class="up"></i>
								<i class="down"></i>
							</div>
						</div>
						<!--提示信息 结束-->
						<!--下拉列表 开始-->
						<ul>
							<li>选项1</li>
							<li>选项2</li>
							<li>选项3</li>
							<li>选项4</li>
							<li>选项5</li>
							<li>选项6</li>
						</ul>
						<!--下拉列表 结束-->
						
					</div>
					<!--下拉框 结束-->
					
				</div>
			</li>
			<li class="clearfix">
				<span>邮箱：</span>
				<div class="f_right">
					<input type="text" name='email'/>
					<i class="valEmail">验证邮箱</i>
				</div>
			</li>
			<li class="clearfix">
				<span>部门：</span>
				<div class="f_right">
					<input type="text" name='sector'/><i></i>
				</div>
			</li>
			<li class="clearfix">
				<span>职务：</span>
				<div class="f_right">
					<input type="text" name='title'/><i></i>
				</div>
			</li>
			<li class="clearfix">
				<span>详细介绍：</span>
				<div class="f_right clearfix">
					<textarea name='intro'></textarea><i>请不要超过100个汉字</i>
				</div>
			</li>
			
			<!--提交按钮设置 开始-->
			<li class="clearfix">
				<span>&nbsp;</span>
				<div class="f_right">
					<a href="javascript:;" class="save">保存</a>
				</div>
			</li>
			<!--提交按钮设置 结束-->
			
			
		</ul>
		
	</div>
	
	<!--表单内容结束-->
</div>