<link rel="stylesheet" href="../common/css/info_index.css" />
<link rel="stylesheet" href="../common/css/feats.css" />
<div class="base feat">
	<!--小标题开始-->
	<p class="subtitle">完善个人资料是让别人认识你的第一步</p>
	<!--小标题结束-->

	<!--表单内容开始-->
	<div class="form">

		<!--小标题开始-->
		<p class="tip">拥有的专长<span>(不超过5个)</span></p>
		<!--小标题结束-->
		<div class="feats clearfix">

		</div>

		<ul>
			<li class="clearfix ">
				<span>&nbsp;</span>
				<div class="f_right">
					<input type="text" name='feat_title'/>
				</div>
				<span>
					<a href="javascript:;" class="save" style="float: right;margin-right: 40px;">添加专长</a>
				</span>
			</li>
		</ul>
		<!--热门专长开始-->
		<div class="hot-feat">
			<h6 class="clearfix">
				现有热门专长
				<a href="javascript:;" id="random_feat">换一批</a> 
			</h6>
		</div>
		<div class="hot_feat_list"></div>
		<!--热门专长结束-->

	</div>

	<!--表单内容结束-->
</div>