<link rel="stylesheet" href="../common/css/info_index.css" />
<div class="base">
	<!--小标题开始-->
	<p class="subtitle">完善个人资料是让别人认识你的第一步</p>
	<!--小标题结束-->
	<!--表单内容开始-->
	<div class="form">
		<ul>
			<li class="clearfix">
				<span>新邮箱：</span>
				<div class="f_right">
					<input type="text" />
					<i class="valEmail">验证邮箱</i>
				</div>
			</li>
			
			
			<!--提交按钮设置 开始-->
			<li class="clearfix">
				<span>&nbsp;</span>
				<div class="f_right">
					<a href="javascript:;" class="save">保存</a>
				</div>
			</li>
			<!--提交按钮设置 结束-->
			
			
		</ul>
		
	</div>
	
	<!--表单内容结束-->
</div>