<link rel="stylesheet" type="text/css" href="common/css/icon.css" />

<div class="icon clearfix">
	<!--小标题开始-->
	
	<p class="subtitle">完善个人资料是让别人认识你的第一步</p>
	
	<!--小标题结束-->
	
	<div class="icon_l">
		<div class="clearfix">
			<img src="common/images/icon.png" class="user_icon" />
			<div>
				<a href="javascript:;" id="upload_icon">系统头像</a>
				<a href="javascript:;">系统头像</a>
			</div>
		</div>
		<a href="javascript:;" class="save">保存</a>
	</div>
	<div class="icon_r">
		<h3>头像预览</h3>
		<img src="common/images/icon.png" class="w72" />
		<p>大头像72px*72px</p>
		<img src="common/images/icon.png" class="w18" />
		<p>小头像18px*18px</p>
		<p>我使用过的头像</p>
		<div class="list clearfix">
			<img src="common/images/icon.png"/>
			<img src="common/images/icon.png"/>
			<img src="common/images/icon.png"/>
		</div>
		
	</div>

</div>