<link rel="stylesheet" href="../common/css/info_index.css" />
<link rel="stylesheet" type="text/css" href="../common/css/edu.css"/>
<div class="base">
	<!--小标题开始-->
	<p class="subtitle">完善个人资料是让别人认识你的第一步</p>
	<!--小标题结束-->

	<!--表单内容开始-->
	<div class="form">
		<!--表格内容开始-->
		<table class="tableInfo data">
			<tbody>
				<tr>
					<th>单位名称</th>
					<th>部门与职务</th>
					<th>工作时间</th>
					<th></th>
				</tr>

			</tbody>

		</table>

		<!--表格内容结束-->
		<!--小标题开始-->
		<p class="subtitle2">添加新的职业经历</p>
		
		<!--小标题结束-->
		
		
		<ul class="job">
			<li class="clearfix">
				<span>单位名称：</span>
				<div class="f_right">
					<input type="text" name = "firm"/>
				</div>
			</li>
			<li class="clearfix">
				<span>工作时间：</span>
				<div class="f_right">

					<!--模拟  下拉框 开始-->
					<div class="select year y1">
						<!--提示信息 开始-->
						<div class="tip clearfix">
							<u>-请选择-</u>
							<div>
								<i class="up"></i>
								<i class="down"></i>
							</div>
						</div>
						<!--提示信息 结束-->
						<!--下拉列表 开始-->
						<ul>
							<li>选项1</li>
							<li>选项2</li>
							<li>选项3</li>
							<li>选项4</li>
							<li>选项5</li>
							<li>选项6</li>
						</ul>
						<!--下拉列表 结束-->

					</div>
					<!--下拉框 结束-->
					<!--模拟  下拉框 开始-->
					<div class="select month m1">
						<!--提示信息 开始-->
						<div class="tip clearfix">
							<u>-请选择-</u>
							<div>
								<i class="up"></i>
								<i class="down"></i>
							</div>
						</div>
						<!--提示信息 结束-->
						<!--下拉列表 开始-->
						<ul>
							<li>选项1</li>
							<li>选项2</li>
							<li>选项3</li>
							<li>选项4</li>
							<li>选项5</li>
							<li>选项6</li>
						</ul>
						<!--下拉列表 结束-->

					</div>
					<!--下拉框 结束-->
					
					<span class="word">到</span>
					
					<!--模拟  下拉框 开始-->
					<div class="select year y2">
						<!--提示信息 开始-->
						<div class="tip clearfix">
							<u>-请选择-</u>
							<div>
								<i class="up"></i>
								<i class="down"></i>
							</div>
						</div>
						<!--提示信息 结束-->
						<!--下拉列表 开始-->
						<ul>
							<li>选项1</li>
							<li>选项2</li>
							<li>选项3</li>
							<li>选项4</li>
							<li>选项5</li>
							<li>选项6</li>
						</ul>
						<!--下拉列表 结束-->

					</div>
					<!--下拉框 结束-->
					<!--模拟  下拉框 开始-->
					<div class="select month m2">
						<!--提示信息 开始-->
						<div class="tip clearfix">
							<u>-请选择-</u>
							<div>
								<i class="up"></i>
								<i class="down"></i>
							</div>
						</div>
						<!--提示信息 结束-->
						<!--下拉列表 开始-->
						<ul>
							<li>选项1</li>
							<li>选项2</li>
							<li>选项3</li>
							<li>选项4</li>
							<li>选项5</li>
							<li>选项6</li>
						</ul>
						<!--下拉列表 结束-->

					</div>
					<!--下拉框 结束-->
				</div>
				
			</li>
			<li class="clearfix">
				<span>部门：</span>
				<div class="f_right">
					<input type="text" name="sector"/>
				</div>
			</li>
			<li class="clearfix">
				<span>职务：</span>
				<div class="f_right">
					<input type="text" name="title"/>
				</div>
			</li>
			<li class="clearfix">
				<span>所在地：</span>
				<div class="f_right">

					<!--模拟  下拉框 开始-->
					<div class="select">
						<!--提示信息 开始-->
						<div class="tip clearfix">
							<u>-请选择-</u>
							<div>
								<i class="up"></i>
								<i class="down"></i>
							</div>
						</div>
						<!--提示信息 结束-->
						<!--下拉列表 开始-->
						<ul>
							<li>选项1</li>
							<li>选项2</li>
							<li>选项3</li>
							<li>选项4</li>
							<li>选项5</li>
							<li>选项6</li>
						</ul>
						<!--下拉列表 结束-->

					</div>
					<!--下拉框 结束-->
					<!--模拟  下拉框 开始-->
					<div class="select">
						<!--提示信息 开始-->
						<div class="tip clearfix">
							<u>-请选择-</u>
							<div>
								<i class="up"></i>
								<i class="down"></i>
							</div>
						</div>
						<!--提示信息 结束-->
						<!--下拉列表 开始-->
						<ul>
							<li>选项1</li>
							<li>选项2</li>
							<li>选项3</li>
							<li>选项4</li>
							<li>选项5</li>
							<li>选项6</li>
						</ul>
						<!--下拉列表 结束-->

					</div>
					<!--下拉框 结束-->
				</div>
				
			</li>
			<li class="clearfix">
					<a href="javascript:;" class="save" style="float: right;margin-right: 130px;">保存</a>
			</li>

		</ul>

	</div>

	<!--表单内容结束-->
</div>